<% include partials/header %>
    
    <div class="container">
        <br>
    </div>
    
    <div class="container">
        <h2>Commodity Prices</h2>


        <p>Silver Symbol: <%= slvSymbol %></p>
        <p>Silver Date: <%= slvDate %></p>
        <p>Silver Price: <%= slvClosePrice %></p>
        <br><br>
        <p>Parsed Data: <%= parsedData %></p>
    
    </div>

 
</body>

</html>
