<% include partials/header %>
    
    <div class="container">
        <br>
    </div>
    
    <div class="container">
        <p>Currency Prices</p>
    
        <p>Euro-USD Exchange Rate: <%= parsedCurrency %></p>

        <a href="https://www.freeforexapi.com">
          <img alt="Free Forex API" src="https://www.freeforexapi.com/Images/link.png" height="20">
      </a>


    </div>

 
</body>

</html>
